*.sh text eol=lf
*.patch text eol=lf
*.json text eol=lf
*.mjs text eol=lf
*.yml text eol=lf
*.yaml text eol=lf

docs/upgrade/**/*.json text eol=lf
patches/**/*.patch text eol=lf
patches/**/*.patch.no text eol=lf
patches/**/*.patch.yet text eol=lf

*.png binary
*.bmp binary
*.ico binary
*.icns binary
*.zip binary
*.tgz binary
*.tar binary
*.gz binary
*.zst binary
*.woff binary
*.woff2 binary
*.ttf binary
*.otf binary
